body {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    background: url(../img/dia.jpg) no-repeat;
    background-size: cover;
    font-family: 'Fira Code', monospace;
}

/* ---Formulário--- */

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 12, 12, 0.644);
    color: #fff;
    margin: 30px auto 0px auto;
    width: 60%;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form h1,
.form h2 {
    text-align: center;
    margin: 5px;
}

.form h1 i {
    margin-left: 4px;
}

#entrebtn {
    margin-left: 5px;
    width: 17%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    background-color: rgb(1, 175, 1);
    border: 2px solid rgb(1, 175, 1);
    border-radius: 25px;
}

#entrebtn:hover {
    transition: ease-in-out 0.5s;
    background-color: #fff;
    color: rgb(1, 175, 1);
}

.campos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nome sobrenome"
        "email email"
        "senha senha";
    grid-gap: 15px;
}

.campos .campo {
    width: 100%;
    padding: 3px;
    border-radius: 20px;
    border: 2px solid #000047;
    background-color: #fff;
}

.campos .campo::placeholder {
    color: #000047;
    position: absolute;
}

.campos .nome {
    grid-area: nome;
}

.campos .sobrenome {
    grid-area: sobrenome;
}

.campos .campo-email {
    grid-area: email;
}

.campos .campo-senha {
    grid-area: senha;
}

.data-nascimento .selects-data {
    display: inline;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #000047;
    background-color: #fff;
}

.check-genero {
    font-size: 15px;
    cursor: pointer;
}

.check-genero .genero-input {
    margin: 10px 10px 15px 0;
}

.data-nascimento label,
.check-genero p {
    display: block;
    margin: 15px 10px 10px 0;
    font-size: 15px;
    font-weight: 700;
}

.botao-cadastro {
    margin: auto;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--cor-padrao-dia);
    border-color: var(--cor-padrao-dia);
    color: #fff;
    font-weight: 700;
}

.botao-cadastro:hover {
    transition: all ease-in 0.5s;
    background-color: #fff;
    color: var(--cor-padrao-dia);
}

/* --- icons --- */

.social {
    padding-top: 6px;
}

.social p {
    display: inline;
    font-size: 18px;
    font-weight: 500;
}

.icons {
    display: inline;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    color: rgb(255, 83, 15);
}

.icons i:hover {
    color: rgb(255, 179, 191);
}

/* ---- gerais ---- */

.campos .campo,
.data-nascimento .selects-data,
.check-genero {
    font-weight: 500;
}


/* ----dark mode----- */

.btn-dark {
    position: absolute;
    align-self: flex-start;
    margin: 20px;
    transition: background 0.2s linear;
}

.btn-dark .checkbox-dark {
    opacity: 0;
    position: absolute;
}

.btn-dark .sol-lua {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 16px;
    width: 40px;
    transform: scale(1.5);
}

.sol-lua .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox-dark:checked+.sol-lua .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.dark {
    background-image: url(../img/noite.jpg);
}

.dark form {
    background-color: var(--cor-padrao-noite);
    color: #fff;
    border: 1px solid var(--cor-padrao-noite);
}

.dark .botao-cadastro {
    background-color: black;
    border: 1px solid black;
}

.dark .botao-cadastro:hover {
    color: black;
    background-color: #fff;
}

.dark .icons i {
    color: rgb(81, 81, 218);
}

.dark .icons i:hover {
    color: black;
}